.bg-nav{
    background-color: #fff;
}
/* .home-text{
    color: #ef5036;
} */
.bg-headline{
    background-color: #f1f2f6;
}
.headline-margin{
    margin: 50px 0;
}
.text-categories{
    font-size: 20px;
    font-weight: 700;
}
.categories{
    background-color: #f1f2f6;
}
.text-categories{
    font-size: 20px;
    font-weight: 500;
}
.categories-margin{
    margin: 20px 0;
}
.present-price{
    font-size: 18px;
    font-weight: 500;
    color: #ef5036;
    margin-right: 10px;
}
.old-price{
    text-decoration: line-through;
    color: #90908e;
}